<div class="container ">
  <div  class="row fixed-bottom navbar-light bar text-center" >
    <div class="col-sm-4  icons" [routerLink]="['/bot-pop-up']" (click) ="activated(0)" [ngClass]="active[0]? 'select-icon':''" > <fa-icon [icon]="fasignIn"></fa-icon></div>
    <div class="col-sm-4 icons " [routerLink]="['/history']" (click) ="activated(1)" [ngClass]="active[1]? 'select-icon':''" ><fa-icon [icon]="history"></fa-icon></div>
    <div class="col-sm-4 icons" [routerLink]="['/logout']" (click) ="activated(2)" [ngClass]="active[2]? 'select-icon':''" ><fa-icon [icon]="fasignOut"></fa-icon></div>
  </div>
</div>

