<div class="container ">
  <div class="row fixed-bottom navbar-light bar text-center">
    <div class="col-sm-4  icons" [routerLink]="['/bot-pop-up']" (click)="activated(0)"
      [ngClass]="active[0]? 'select-icon':''">
      <fa-icon *ngIf="getRouteForbutton()=== 'bot-pop-up' || correctRoute === '/bot-pop-up'" [icon]="farobot"></fa-icon>
      <fa-icon *ngIf="getRouteForbutton()=== 'login' || correctRoute === '/login'" [icon]="fasignIn"></fa-icon>
    </div>

    <div class="col-sm-4 icons " [routerLink]="['/history']" (click)="activated(1)"
      [ngClass]="active[1]? 'select-icon':''">
      <fa-icon [icon]="history"></fa-icon>
    </div>
  </div>
</div>
