<div class="modal-icons">
  <div class="flex-container">
    <div class="flex">
      <a href="https://www.youtube.com/channel/UCZP7bD2cUzaBp_bEgHidoPw" title="Automation Anywhere on YouTube"
        target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
    <div class="flex">
      <a href="https://twitter.com/AutomationAnywh" title="Automation Anywhere on Twitter" target="_blank"><i
          class="fa fa-twitter"></i></a>
    </div>
    <div class="flex">
      <a href="https://www.facebook.com/AutomationAnywhereSoftware/" title="Automation Anywhere on Facebook"
        target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="flex">
      <a href="https://www.instagram.com/automation_anywhere" title="Automation Anywhere on Instagram"
        target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="flex">
      <a href="https://university.automationanywhere.com/" title="Automation Anywhere University" target="_blank"><i
          class="fa fa-university"></i></a>
    </div>
  </div>
</div>
