<div class="form-group">
  <label for="">Select a Bot to Get Started</label>
  <!-- <select class="form-control" id="botSelector">
            <option>Select a Bot</option>
            <option value="eBay Auction Sniper Bot">eBay Auction Sniper Bot</option>
            <option value="Price Check Bot">Price Check Bot</option>
            <option value="Car Buyer Bot">Car Buyer Bot</option>
        </select> -->
  <select class="form-control" id="botSelector">
    <option *ngFor="let item of file['bot-names']"> {{item}}</option>

  </select>
</div>
<div id="customBotFields">
  <!-- Javascript customizes this part -->

</div>
