    <div class="modal-header">
        <h1 class="logo">
            <img src="images/icon.png" alt="Bot Tasker" class="logo-icon"><span class="title">Bot Tasker</span>
            <span class="version">(0.0.1)</span>
        </h1>
    </div>
    <div class="content">
        <p>Easily send work for your bots</p>
    </div>

    <div class="form-group">
        <label for="">Select a Bot to Get Started</label>
        <!-- <select class="form-control" id="botSelector">
            <option>Select a Bot</option>
            <option value="eBay Auction Sniper Bot">eBay Auction Sniper Bot</option>
            <option value="Price Check Bot">Price Check Bot</option>
            <option value="Car Buyer Bot">Car Buyer Bot</option>
        </select> -->
        <select class="form-control" id="botSelector">
          <option *ngFor="let item of file['bot-names']"> {{item}}</option>

        </select>
    </div>
    <div id="customBotFields">
        <!-- Javascript customizes this part -->

    </div>
    <div class="modal-icons">
        <div class="flex-container">
            <div class="flex">
                <a href="https://www.youtube.com/channel/UCZP7bD2cUzaBp_bEgHidoPw"
                    title="Automation Anywhere on YouTube" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
            <div class="flex">
                <a href="https://twitter.com/AutomationAnywh" title="Automation Anywhere on Twitter" target="_blank"><i
                        class="fa fa-twitter"></i></a>
            </div>
            <div class="flex">
                <a href="https://www.facebook.com/AutomationAnywhereSoftware/" title="Automation Anywhere on Facebook"
                    target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="flex">
                <a href="https://www.instagram.com/automation_anywhere" title="Automation Anywhere on Instagram"
                    target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="flex">
                <a href="https://university.automationanywhere.com/" title="Automation Anywhere University"
                    target="_blank"><i class="fa fa-university"></i></a>
            </div>
        </div>
    </div>
