<div *ngIf="!nextPage" id="login_section">
  <div class="form-group">
    <label>Control Room URL</label>
    <input type="text" class="form-control" id="crURL" placeholder="URL">
  </div>
  <div class="form-group">
    <label>Control Room Username</label>
    <input type="text" class="form-control" id="crUsername" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Control Room Password</label>
    <input type="password" class="form-control" id="crPassword" placeholder="Password">
  </div>
  <div class="submitButton">
    <button type="button"  class="btn btn-primary login-btn" (click)="authenticate()">Submit</button>
  </div>

</div>

<div *ngIf="nextPage">
<app-bot-pop-up></app-bot-pop-up>
</div>
