<div *ngFor="let item of fields">
  <div class="form-group">
    <label for="">{{item.title}}</label>
    <input class="form-control m-1" type="{{item.restrictions.digitsOnly ? 'number' : 'text'}}" *ngIf="item.type== 'input'" [(ngModel)]="item.value"
      required="{{item.restrictions.required}}"  >
    <select class="form-control "  *ngIf="item.type=='dropdown'"  id="botSelector" [(ngModel)]="item.value" required="{{item.restrictions.required}}">
      <option [value]='null' selected disabled>Select a option</option>
      <option *ngFor="let val of item.options" [value]="val"> {{val}}</option>
    </select>
  </div>
</div>

  <div class="form-group ">
    <label for="">Select a Bot Runner</label>
    <select class="form-control "  id="runnerSelector" [(ngModel)]="runnerId" required="true">
      <option [value]='null' selected disabled>Select Bot Runner</option>
      <option *ngFor="let val of runners" [value]="val.id"> {{val.hostName}}</option>
    </select>
  </div>

<div class="form-group ">
  <div class="row justify-content-center m-1">
    <button type="submit" class="btn btn-primary " (click)="onDeploy()"  >Deploy</button>
  </div>
</div>

<div  class="row justify-content-center m-1 mt-2 alert "  [ngClass]="error? 'alert-danger': 'alert-info' " *ngIf="show">{{deploymsg}}</div>

